In [6]:
import random
import datetime

In [32]:
import mysql.connector

cnx = mysql.connector.connect(user='NWGadmin', password='P4Gjax5akzCBA2h',
                              host='nwgsqlserver.mysql.database.azure.com',
                              database='nwg')

In [33]:
cursor = cnx.cursor()

In [27]:
print()

In [34]:
add_record = "INSERT INTO water_usage (id, user_id, usage_ml,`created_at`) VALUES (%s, %s, %s, %s)"

In [29]:
for i in range(1,21):
    data = (1, 1, 400000 * (random.random() + 0.5), datetime.datetime(2023, 1, i))
    cursor.execute(add_record, data)

IntegrityError: 1048 (23000): Column 'id' cannot be null

In [35]:
new_id = 22
for hour in range(0,24):
    for minute in range(0,60):
        data = (new_id, 1, 267 * (random.random() + 0.5), datetime.datetime(2023, 1, 21, hour, minute, 0))
        cursor.execute(add_record, data)
        new_id += 1

In [36]:
cnx.commit()

cursor.close()
cnx.close()